.bg-hero-image{
    background-image: url("/imgs/images.jpg");
    background-position: center center;
}
body{
    background-color:rgb(197, 186, 190)
}
.db{
    background-color: rgb(197, 179, 171);
}                       
.cf{
    font-family: 'Edu TAS Beginner', cursive;
}
